{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="container ml-auto mr-auto">
        <div class="row mt-5">
            <div class="col-lg-3 col-12"></div>
            <div class="col-lg-6 col-12">
                <div class="bg-light py-3 px-3">
                    <h1 class="text-center">Sign in</h1>
                    <form action="{{ path('app_login') }}" method="post">
                        <div class="form-group">
                            <input type="text" value="{{ lastUsername }}" name="email" id="inputUsername" placeholder="Email" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control" required>
                        </div>

                        <input type="hidden" name="_target_path" value="/admin"/>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="form-group d-flex justify-content-end">
                            <button class="btn btn-lg btn-success submit" type="submit">
                                Sign in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
