{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Search on TheMovieDb' %}

{% block page_content %}

    <div class="position-relative overflow-hidden text-center">
        <div class="jumbotron">
            <div class="container">
                <div>
                    {{ form_start(apiSearchForm) }}
                    <div class="row">
                        <div class="col">{{ form_widget(apiSearchForm.query) }}</div>
                        <div class="col"><button type="submit" class="btn btn-primary submit">Search</button></div>
                    </div>
                    {{ form_end(apiSearchForm) }}
                </div>
            </div>
        </div>
    </div>

{#    <div id="app-search_results"></div>#}

{% endblock %}

{#{% block javascripts %}#}

{#    {{ encore_entry_script_tags('searchResults') }}#}

{#{% endblock %}#}