{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="app-search_results"></div>

{% endblock %}

{% block javascripts %}

    {{ encore_entry_script_tags('searchResults') }}

{% endblock %}
